<table>
  <thead>
    <tr>
      <th>Event</th>
      <% @talks.each |talk| do %>
        <th><%= talk.title %> (<%= talk.id %>)</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'conflict_coefficient', collection: @conflict_coefficients %>
  </tbody>
</table>
