<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Votes</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'talk', collection: @talks %>
  </tbody>
</table>
